@font-face {
    font-family: 'soehne-mono';
    src: url('assets/fonts/sohne-mono.woff2'); 
    font-weight: 500;
    font-style: normal;
}

body, html {
    font-family:  "soehne-mono", Courier, monospace;
    -webkit-font-smoothing: antialiased; 
}

